/* Navigation styling */
header {
  width: 200px;
  width: 100px;
  cursor: pointer;
}

.siteTitle,
.navItem {
  text-transform: uppercase;
}

.navItem {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
}

.navItem:hover {
  border-bottom-color: #45e9f5;
}
